

.body{
    margin: 100px 20px 100px 600px ;
    color: white;
    background-color: rgb(56, 52, 52);
}
.form{
    color: white;
}


.h1{
    padding-left: 150px;

}

.submit{
    align-self: center;
}

